@font-face {
	font-family: SourceHanSansCN-Heavy;
	src: url('@/assets/font/SourceHanSansCN-Heavy.otf');
}

@font-face {
	font-family: SourceHanSansCN-Bold;
	src: url('@/assets/font/SourceHanSansCN-Bold.otf');
}

@font-face {
	font-family: SourceHanSansCN-Regular;
	src: url('@/assets/font/SourceHanSansCN-Regular.otf');
}

* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

p,
h1 {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

i,
em {
	font-style: normal;
}

